$base-font-family: sans-serif;
$base-font-family-dark: $base-font-family;

$text-block-font-size: 1em;

$text-block-font-color: #444444;
$accent-color: #e7f0f7; // light blue

$alpha-accent-color: #e7f0f7; // light blue
$beta-accent-color: #2244bb; // dark blue

$alpha-ui-color: #e7f0f7; // light blue
$beta-ui-color: #2244bb; // dark blue

$base-ui-color: #444444;

$light-ui-color: #f2f2f2;
$blocks-control-bg-color: #e7f0f7;

$error-color: red;

$inner-block-padding: 21px 77px 21px 21px;

$block-controls-height: 20px;
$block-add-height: 0px;

